/* global section start */
body {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
    font-family: 'Poppins', sans-serif;
}

.common_btn {
    background: #289BDE;
    border: 1px solid #289BDE;
    padding: 10px 20px;
    border-radius: 5px;
    color: #FFFFFF;
}

/* global section end */


/* navigation bar start */
.navbar {
    margin: 20px 0;
}

.navbar-brand {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: #4A4A4A;
}

.navbar-nav a {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #777777;
}

/* navigation bar end */

/* carousol section start */
.carousel-caption h1 {
    font-weight: 600;
    font-size: 65px;
    line-height: 85px;
    text-align: center;
    color: #FFFFFF;
}

.carousel-caption p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #F4F4F4;
    /* margin: 30px 0; */
}

/* carousol section end */

/* popular courses section start */
.popular_courses h2 {
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
}

.popular_courses p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #777777;
}

/* popular courses section end */







/* media query start */
/* `xs` returns only a ruleset and no media query */
/* { ... } */

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .carousel-caption h1 {
        font-size: 19px;
        line-height: 17px;
    }

    .carousel-caption p {
        font-size: 12px;
        line-height: 16px;
        margin: 0 -15px;
    }

    .carousel-caption button {
        font-size: 16px;
        line-height: 24px;
    }

    .common_btn {
        padding: 4px 10px;
        margin-bottom: -10px;
    }

    /* popular courses section start */
    .popular_courses h2 {
        font-size: 18px;
        line-height: 27px;
    }

    .popular_courses p {
        font-size: 12px;
        line-height: 18px;
    }

    /* popular courses section end */
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .carousel-caption h1 {
        font-size: 20px;
        line-height: 30px;
    }

    .carousel-caption p {
        font-size: 12px;
        line-height: 18px;
    }
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 992px) {
    .carousel-caption h1 {
        font-size: 40px;
    }

    .carousel-caption p {
        font-size: 16px;
        line-height: 30px;
    }

    /* popular courses section start */
    .popular_courses h2 {
        font-size: 30px;
    }

    .popular_courses p {

        font-size: 16px;
        line-height: 30px;
    }

    /* popular courses section end */
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1400px) {
    .course-banner {
        margin: 130px 0 50px 0;
    }
}

/* @media (max-width: 1199.98px) {} */

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}